<%= form_for(@stitch) do |f| %>
  <% if @stitch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stitch.errors.count, "error") %> prohibited this stitch from being saved:</h2>

      <ul>
      <% @stitch.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :thread_color %><br>
    <%= f.text_field :thread_color %>
  </div>
  <div class="field">
    <%= f.label :length %><br>
    <%= f.text_field :length %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
