<h1>Listing stitches</h1>

<table>
  <thead>
    <tr>
      <th>Thread color</th>
      <th>Length</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @stitches.each do |stitch| %>
      <tr>
        <td><%= stitch.thread_color %></td>
        <td><%= stitch.length %></td>
        <td><%= link_to 'Show', stitch %></td>
        <td><%= link_to 'Edit', edit_stitch_path(stitch) %></td>
        <td><%= link_to 'Destroy', stitch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stitch', new_stitch_path %>
