<h1>Listing needles</h1>

<table>
  <thead>
    <tr>
      <th>Sharpness</th>
      <th>Length</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @needles.each do |needle| %>
      <tr>
        <td><%= needle.sharpness %></td>
        <td><%= needle.length %></td>
        <td><%= link_to 'Show', needle %></td>
        <td><%= link_to 'Edit', edit_needle_path(needle) %></td>
        <td><%= link_to 'Destroy', needle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Needle', new_needle_path %>
